html, body{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100svh;
	font-family: 'Zen Antique';
	font-weight: bold;
	box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

a:link {
	color: #774251;
}
a:visited {
	color: #774251;
}
a:hover {
	color: #9c524e;
}
a:active {
	color: #9c524e;
}

.top-corners, .bottom-corners {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.entry-text {
	font-size: 4.5vmin;
}

.corner-art {
	width: 17vmin; 
	height: 17vmin;
}

header {
	margin: auto;
	margin-top: 5vw;
	padding: 0 2vmin 0;
	width: 80vw;
	background-color: #a99c8d; 
	border: 4vmin double #a99c8d;
	border-radius: 2vmin;
	background-clip: padding-box;
}

.home-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 10vw auto; 
	padding: 4vmin;  
	height: 100%; 
	width: 80vw; 
	background-color: #a99c8d; 
	border-radius: 2vmin;
}

.portfolio-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 5vw auto;  
	padding: 4vmin;  
	height: 100%; 
	width: 80vw; 
	background-color: #a99c8d; 
	border-radius: 1vmin;
}

@media only screen and (min-width: 800px) {
	.home-card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 5vw auto; 
		padding: 4vmin; 
		height: 100%; 
		width: 90vw; 
		background-color: #a99c8d; 
		border-radius: 2vmin;
	}

	.portfolio-card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 2vw auto; 
		padding: 4vmin; 
		height: 100%; 
		width: 90vw; 
		background-color: #a99c8d; 
		border-radius: 2vmin;
	}

	header {
		margin: auto;
		margin-top: 2vw;
		width: 90vw;
		background-color: #a99c8d; 
		border: 4vmin double #a99c8d;
		border-radius: 2vmin;
	}
}

@media only screen and (min-width: 1200px) {
	.home-card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 2vw auto; 
		padding: 2vmin; 
		height: 100%; 
		width: 95vw; 
		background-color: #a99c8d; 
		border-radius: 2vmin;
	}

	.portfolio-card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 1vw auto; 
		padding: 2vmin; 
		height: 100%; 
		width: 95vw; 
		background-color: #a99c8d; 
		border-radius: 2vmin;
	}

	header {
		margin: auto;
		margin-top: 1vw;
		width: 95vw;
		background-color: #a99c8d; 
		border: 2vmin double #a99c8d;
		border-radius: 2vmin;
	}
}