html, body{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100svh;
	font-family: 'Zen Antique';
	font-weight: bold;
	font-size: 2.5vmin;
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

a:link {
	color: #774251;
}
a:visited {
	color: #774251;
}
a:hover {
	color: #9c524e;
}
a:active {
	color: #9c524e;
}

.navbar > a {
	margin: auto 1vmin;
}

.top-corners, .bottom-corners {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.entry-text {
	font-size: 4.5vmin;
}

.corner-art {
	width: 17vmin; 
	height: 17vmin;
}

header {
	margin: auto;
	margin-top: 5vw;
	padding: 0 2vmin 0;
	width: 80vw;
	background-color: #a99c8d; 
	border: 4vmin double #a99c8d;
	border-radius: 2vmin;
	background-clip: padding-box;
}

.top-center {
	width: 100%;
	align-content: center;
}

.bottom-center {
	display: flex;
	width: 100%;
	align-content: center;
	align-items: end;
	justify-content: space-around;

	h2 {
		margin: 0;
	}
}

.title {
	vertical-align: middle;
	h1{
		margin: auto;
		text-align: center;
		width: 30vmin;
		border-width: 2vmin; 
		border-style: groove groove ridge ridge; 
		border-color: #8c7c79;
	}
}

.home-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 10vw auto; 
	padding: 4vmin;  
	height: 100%; 
	width: 80vw; 
	background-color: #a99c8d; 
	border-radius: 2vmin;
	flex-grow: 1;
}

.portfolio-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	margin: 5vw auto;  
	padding: 4vmin;  
	min-height: 100%; 
	width: 80vw; 
	background-color: #a99c8d; 
	border-radius: 1vmin;
}

.middle-content {
	min-height: 100%;

	div > h5 {
		margin: 3vw 3vmin 6vmin;
		padding: 0;
		text-align: center;
	}
}

.row, .media, .desc {
		display: block;
}

.project-section {
	margin: auto 4vmin; 
	padding: 0; 
	display: inline-block;
	text-align: center;

	h4, h6, .project-image {
		margin: 2vmin;
		padding: 0;
	}

	img {
		width: 30vw;
	}
}

.profile-picture {
	width: 75%;
	border-radius: 2vmin;
	margin: auto;
}

.bio {
	margin: 5vmin;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.text {
		width: 100%;
		text-align: center;
	}
}

.networking {
	display: block;
	width: auto;
	margin: auto;
	padding-top: 5vmin;
	
	div {
		display: block;
		margin: auto;
		max-width: 50vw;
		font-size: 100%;

		.profile-badge, .profile-badge--width-330 {
			margin: auto;
		}
		
		h1 {
			font-size: 2em;
		}
		h2 {
			font-size: 1.5em;
		}
		h3 {
			font-size: 1.17em;
		}
		h4 {
			font-size: 1em;
		}
		h5 {
			font-size: 0.83em;
		}
		h6 {
			font-size: 0.67em;
		}
		a {
			font-size: 1em;
		}
	}
}

/*.linkedin-badge {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Oxygen, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}*/

.about {
	display: block;
}

@media only screen and (min-width: 800px) {
	.home-card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 5vw auto; 
		padding: 4vmin; 
		height: 100%; 
		width: 90vw; 
		background-color: #a99c8d; 
		border-radius: 2vmin;
	}

	.portfolio-card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 2vw auto; 
		padding: 4vmin; 
		height: 100%; 
		width: 90vw; 
		background-color: #a99c8d; 
		border-radius: 2vmin;
	}

	.middle-content {
		min-height: 100%;

		div > h5 {
			margin: 12vmin 3vw auto;
			padding: 0;
			text-align: center;
		}
	}

	.row {
		margin: 4vmin;
		display: table;
		table-layout: fixed;
		border: none;
		border-spacing: 5vmin;
		background-image: radial-gradient(ellipse farthest-side at center, #998c7d, #a99c8d);
		border-radius: 1vmin;
	}
	.row:nth-child(even) {
		direction: rtl;
	}

	.row:nth-child(odd) .media {
		text-align: center
	}

	.media,
	.desc {
		display: table-cell;
		direction: ltr;
		border: none;
		width: 50%;
	}

	.desc {
		vertical-align: middle;
		text-align: center;
	}

	header {
		margin: auto;
		margin-top: 2vw;
		width: 90vw;
		background-color: #a99c8d; 
		border: 4vmin double #a99c8d;
		border-radius: 2vmin;
	}

	.profile-picture {
		width: 50%;
		border-radius: 5vmin;
	}

	.bio {
		padding-left: 5vmin;
		flex-direction: row;
	}
}

@media only screen and (min-width: 1200px) {
	.home-card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 2vw auto; 
		padding: 2vmin; 
		height: 100%; 
		width: 95vw; 
		background-color: #a99c8d; 
		border-radius: 2vmin;
	}

	.portfolio-card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 1vw auto; 
		padding: 2vmin; 
		height: 100%; 
		width: 95vw; 
		background-color: #a99c8d; 
		border-radius: 2vmin;
	}

	header {
		margin: auto;
		margin-top: 1vw;
		width: 95vw;
		background-color: #a99c8d; 
		border: 2vmin double #a99c8d;
		border-radius: 2vmin;
	}

	.profile-picture {
		width: 33%;
	}
}